.elevation-1 {
  box-shadow:
    0 2px 8px 1px rgba(0, 0, 0, 0.1),
    0 1px 5px 0 rgba(0, 0, 0, 0.3);
}

.elevation-2 {
  box-shadow:
    0 2px 12px 2px rgba(0, 0, 0, 0.1),
    0 1px 6px 0 rgba(0, 0, 0, 0.3);
}

.elevation-3 {
  box-shadow:
    0 4px 16px 3px rgba(0, 0, 0, 0.1),
    0 1px 6px 0 rgba(0, 0, 0, 0.3);
}

.elevation-4 {
  box-shadow:
    0 4px 20px 4px rgba(0, 0, 0, 0.1),
    0 2px 6px 0 rgba(0, 0, 0, 0.3);
}

.elevation-5 {
  box-shadow:
    0 8px 24px 5px rgba(0, 0, 0, 0.1),
    0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.elevation-6 {
  box-shadow:
    0 10px 30px 6px rgba(0, 0, 0, 0.1),
    0 3px 12px 0 rgba(0, 0, 0, 0.3);
}

.elevation-7 {
  box-shadow:
    0 12px 36px 7px rgba(0, 0, 0, 0.1),
    0 3px 14px 0 rgba(0, 0, 0, 0.3);
}

.elevation-8 {
  box-shadow:
    0 14px 40px 7px rgba(0, 0, 0, 0.1),
    0 3px 16px 0 rgba(0, 0, 0, 0.3);
}
