@use "@/assets/style/utils/utils.scss" as *;

.button {
  position: relative;
  z-index: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: pxToRem(16);
  font-weight: var(--weight-bold);
  color: var(--color-text-onFill);
  text-decoration: none;
  appearance: none;
  cursor: pointer;
  background-color: var(--color-button-normal);
  border: 1px solid var(--color-button-normal);
  border-radius: 8px;
  transition:
    background-color var(--base-duration) var(--easing-out-expo),
    color var(--base-duration) var(--easing-out-expo),
    border-color var(--base-duration) var(--easing-out-expo);

  &::before {
    position: absolute;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    min-height: 44px;
    content: "";
  }

  &:not(.disabled):hover {
    text-decoration: underline;
    background-color: var(--color-button-hover);
    border-color: var(--color-button-hover);
  }

  &:not(.disabled):active {
    text-decoration: underline;
    background-color: var(--color-button-active);
    border-color: var(--color-button-active);
  }

  &.disabled {
    pointer-events: none;
    cursor: auto;
    background-color: var(--color-button-disabled);
    border-color: var(--color-button-disabled);
  }

  &.secondary {
    color: var(--color-button-normal);
    background-color: transparent;

    &:not(.disabled):hover {
      color: var(--color-button-hover);
      background-color: var(--color-sea-50);
    }

    &:not(.disabled):active {
      color: var(--color-blue-1200);
      text-decoration: underline;
      background-color: var(--color-blue-300);
      border-color: var(--color-blue-1200);
    }

    &.disabled {
      color: var(--color-button-disabled);
      border-color: var(--color-button-disabled);
    }
  }

  &.tertiary {
    color: var(--color-button-normal);
    background-color: transparent;
    border-color: transparent;

    &:not(.disabled):hover {
      color: var(--color-button-hover);
      background-color: var(--color-blue-200);
      border-color: transparent;
    }

    &:not(.disabled):active {
      color: var(--color-blue-1200);
      text-decoration: underline;
      background-color: var(--color-blue-300);
      border-color: transparent;
    }

    &.disabled {
      color: var(--color-button-disabled);
    }

    .labelText {
      text-decoration: underline;
    }
  }

  &.large {
    min-width: 136px;
    min-height: 56px;
    padding: 16px 43px;
  }

  &.medium {
    min-width: 96px;
    min-height: 48px;
    padding: 12px 23px;
  }

  &.small {
    min-width: 80px;
    min-height: 36px;
    padding: 6px 15px;
  }

  &.x-small {
    min-width: 72px;
    min-height: 28px;
    padding: 7px 14px;
    font-size: pxToRem(14);
  }
}

.labelText {
  color: inherit;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}
