.resourceListWrapper {
  position: relative;
  display: grid;
  &:hover {
    .hoverArea {
      background-color: var(--color-neutral-opacity-50);
      border-color: var(--color-mono-reverse);
    }
  }
}

.resourceListContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  transition: background-color var(--base-duration) var(--easing-out-expo);
  &.list {
    border-bottom: 1px solid #949494;
  }
  &.form {
    border: 1px solid #949494;
    border-radius: 16px;
    .hoverArea {
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
    }
  }
}

.hoverArea {
  width: 100%;
  border: 2px solid transparent;
  transition:
    background-color var(--base-duration) var(--easing-out-expo),
    border-color var(--base-duration) var(--easing-out-expo);
}

.resourceList {
  display: flex;
  column-gap: 16px;
  align-items: center;
  justify-self: stretch;
  padding: 16px;
  text-align: left;
  appearance: none;
  background: none;
}

.checkboxArea {
  position: relative;
  width: 19px;
  height: 19px;
}

.radioArea {
  width: 19px;
  height: 19px;
}

.label {
  font-size: 0.875rem;
  line-height: 1.7;
  color: var(--color-text-body);
  letter-spacing: 0.04em;
}

.title {
  font-size: 1rem;
  line-height: 1.7;
  color: var(--color-text-body);
  font-weight: var(--weight-bold);
  letter-spacing: 0.04em;
}

.supportText {
  font-size: 0.875rem;
  line-height: 1.7;
  color: var(--color-text-description);
  letter-spacing: 0.04em;
}

.subLabelWrapper {
  flex-shrink: 0;
  margin-left: auto;
}

.subLabel {
  font-size: 0.875rem;
  line-height: 1.7;
  color: var(--color-text-description);
  letter-spacing: 0.04em;
}

.frontIconWrapper,
.endIconWrapper {
  display: grid;
  place-items: center;
}

.endIconWrapper {
  min-width: 44px;
}
