/**
 * プリミティブカラーです
 */

:root {
  /* White */
  --color-white-1000: #fff;

  /* Sea */
  --color-sea-900: #0000be;
  --color-sea-800: #0024ce;
  --color-sea-700: #0031d8;
  --color-sea-600: #003ee5;
  --color-sea-500: #0946f1;
  --color-sea-400: #4979f5;
  --color-sea-300: #4979f5;
  --color-sea-200: #9db7f9;
  --color-sea-100: #c5d7fb;
  --color-sea-50: #e8f1fe;

  /* Sumi */
  --color-sumi-900: #1A1A1C;
  --color-sumi-800: #414143;
  --color-sumi-700: #626264;
  --color-sumi-600: #757578;
  --color-sumi-500: #949497;
  --color-sumi-400: #B4B4B7;
  --color-sumi-300: #D8D8DB;
  --color-sumi-200: #E8E8EB;
  --color-sumi-100: #F1F1F4;
  --color-sumi-50: #F8F8FB;

  /* Forest */
  --color-forest-900: #115A36;
  --color-forest-800: #197A4B;
  --color-forest-700: #1D8B56;
  --color-forest-600: #259D63;
  --color-forest-500: #2CAC6E;
  --color-forest-400: #51B883;
  --color-forest-300: #71C598;
  --color-forest-200: #9BD4B5;
  --color-forest-100: #C2E5D1;
  --color-forest-50: #E6F5EC;

  /* Wood */
  --color-wood-900: #B65200;
  --color-wood-800: #C16800;
  --color-wood-700: #C87504;
  --color-wood-600: #CD820A;
  --color-wood-500: #D18D0F;
  --color-wood-400: #D69C2B;
  --color-wood-300: #DCAC4D;
  --color-wood-200: #E5C47F;
  --color-wood-100: #EFDBB1;
  --color-wood-50: #F8F1E0;

  /* Sun */
  --color-sun-900: #D50000;
  --color-sun-800: #EC0000;
  --color-sun-700: #FA1606;
  --color-sun-600: #FF220D;
  --color-sun-500: #FF4B36;
  --color-sun-400: #FF5838;
  --color-sun-300: #FF7B5C;
  --color-sun-200: #FFA28B;
  --color-sun-100: #FFC8B8;
  --color-sun-50: #FFE7E6;
}
