/**
 * プリミティブカラーです
 */

:root {
  /* White */
  --color-white: #fff;

  /* Sea */
  --color-sea-900: #000082;
  --color-sea-800-dark: #000f7f;
  --color-sea-800: #0017c1;
  --color-sea-700: #0031d8;
  --color-sea-600: #1a3ee8;
  --color-sea-500: #264af4;
  --color-sea-400: #4979f5;
  --color-sea-300-dark: #3f72f6;
  --color-sea-300: #7096f8;
  --color-sea-200: #9db7f9;
  --color-sea-100: #c5d7fb;
  --color-sea-50: #e8f1fe;

  /* Sumi */
  --color-sumi-900: #1a1a1c;
  --color-sumi-800: #414143;
  --color-sumi-700: #626264;
  --color-sumi-600: #757578;
  --color-sumi-500: #949497;
  --color-sumi-400: #b4b4b7;
  --color-sumi-300: #d8d8db;
  --color-sumi-200: #e8e8eb;
  --color-sumi-100: #f1f1f4;
  --color-sumi-50: #f8f8fb;

  /* Forest */
  --color-forest-900: #115a36;
  --color-forest-800: #197a4b;
  --color-forest-700: #1d8b56;
  --color-forest-600: #259d63;
  --color-forest-500: #2cac6e;
  --color-forest-400: #51b883;
  --color-forest-300: #71c598;
  --color-forest-200: #9bd4b5;
  --color-forest-100: #c2e5d1;
  --color-forest-50: #e6f5ec;

  /* Wood */
  --color-wood-900: #b65200;
  --color-wood-800: #c16800;
  --color-wood-700: #c87504;
  --color-wood-600: #cd820a;
  --color-wood-500: #d18d0f;
  --color-wood-400: #d69c2b;
  --color-wood-300: #dcac4d;
  --color-wood-200: #e1c383;
  --color-wood-100: #e7d8b9;
  --color-wood-50: #f3eee5;

  /* Sun */
  --color-sun-900: #d50000;
  --color-sun-800: #ec0000;
  --color-sun-700: #fa1606;
  --color-sun-600: #ff220d;
  --color-sun-500: #ff4b36;
  --color-sun-400: #ff5838;
  --color-sun-300: #ff7b5c;
  --color-sun-200: #ffa28b;
  --color-sun-100: #ffc8b8;
  --color-sun-50: #ffe7e6;
}
