/**
 * プリミティブカラーです
 */

:root {
  /* White */
  --color-white: #fff;

  /* Sea */
  --color-sea-900: #000082;
  --color-sea-800-dark: #000f7f;
  --color-sea-800: #0017c1;
  --color-sea-700: #0031d8;
  --color-sea-600: #1a3ee8;
  --color-sea-500: #264af4;
  --color-sea-400: #4979f5;
  --color-sea-300-dark: #3f72f6;
  --color-sea-300: #7096f8;
  --color-sea-200: #9db7f9;
  --color-sea-100: #c5d7fb;
  --color-sea-50: #e8f1fe;

  /* Sumi */
  --color-sumi-900: #1a1a1c;
  --color-sumi-800: #414143;
  --color-sumi-700: #626264;
  --color-sumi-600: #757578;
  --color-sumi-500: #949497;
  --color-sumi-400: #b4b4b7;
  --color-sumi-300: #d8d8db;
  --color-sumi-200: #e8e8eb;
  --color-sumi-100: #f1f1f4;
  --color-sumi-50: #f8f8fb;

  /* Forest */
  --color-forest-900: #115a36;
  --color-forest-800: #197a4b;
  --color-forest-700: #1d8b56;
  --color-forest-600: #259d63;
  --color-forest-500: #2cac6e;
  --color-forest-400: #51b883;
  --color-forest-300: #71c598;
  --color-forest-200: #9bd4b5;
  --color-forest-100: #c2e5d1;
  --color-forest-50: #e6f5ec;

  /* Wood */
  --color-wood-900: #b65200;
  --color-wood-800: #c16800;
  --color-wood-700: #c87504;
  --color-wood-600: #cd820a;
  --color-wood-500: #d18d0f;
  --color-wood-400: #d69c2b;
  --color-wood-300: #dcac4d;
  --color-wood-200: #e1c383;
  --color-wood-100: #e7d8b9;
  --color-wood-50: #f3eee5;

  /* Sun */
  --color-sun-900: #d50000;
  --color-sun-800: #ec0000;
  --color-sun-700: #fa1606;
  --color-sun-600: #ff220d;
  --color-sun-500: #ff4b36;
  --color-sun-400: #ff5838;
  --color-sun-300: #ff7b5c;
  --color-sun-200: #ffa28b;
  --color-sun-100: #ffc8b8;
  --color-sun-50: #ffe7e6;

  /* プリミティブカラー2.0 */

  /* Blue */
  --color-bule-50: #e8f1fe;
  --color-bule-100: #d9e6ff;
  --color-bule-200: #c5d7fb;
  --color-bule-300: #9db7f9;
  --color-bule-400: #7096f8;
  --color-bule-500: #4979f5;
  --color-bule-600: #3460fb;
  --color-bule-700: #264af4;
  --color-bule-800: #0031d8;
  --color-bule-900: #0017c1;
  --color-bule-1000: #00118f;
  --color-bule-1100: #000071;
  --color-bule-1200: #000060;

  /* Light Blue */
  --color-light-blue-50: #f0f9ff;
  --color-light-blue-100: #dcf0ff;
  --color-light-blue-200: #c0e4ff;
  --color-light-blue-300: #97d3ff;
  --color-light-blue-400: #57b8ff;
  --color-light-blue-500: #39abff;
  --color-light-blue-600: #008bf2;
  --color-light-blue-700: #0877d7;
  --color-light-blue-800: #0066be;
  --color-light-blue-900: #0055ad;
  --color-light-blue-1000: #00428c;
  --color-light-blue-1100: #00316a;
  --color-light-blue-1200: #00234b;

  /* Cyan */
  --color-cyan-50: #e6fcff;
  --color-cyan-100: #c8f8ff;
  --color-cyan-200: #99f2ff;
  --color-cyan-300: #79e2f2;
  --color-cyan-400: #2bc8e4;
  --color-cyan-500: #01b7d6;
  --color-cyan-600: #00a3bf;
  --color-cyan-700: #008da6;
  --color-cyan-800: #008299;
  --color-cyan-900: #006f83;
  --color-cyan-1000: #006173;
  --color-cyan-1100: #004c59;
  --color-cyan-1200: #003741;

  /* Green */
  --color-green-50: #E6F5EC;
  --color-green-100: #C2E5D1;
  --color-green-200: #9BD4B5;
  --color-green-300: #71C598;
  --color-green-400: #51B883;
  --color-green-500: #2CAC6E;
  --color-green-600: #259D63;
  --color-green-700: #1D8B56;
  --color-green-800: #197A4B;
  --color-green-900: #115A36;
  --color-green-1000: #0C472A;
  --color-green-1100: #08351F;
  --color-green-1200: #032213;

  /* Lime */
  ---color-lime-50: #EBFAD9;
  ---color-lime-100: #D0F5A2;
  ---color-lime-200: #C0F354;
  ---color-lime-300: #ADE830;
  ---color-lime-400: #9DDD15;
  ---color-lime-500: #8CC80C;
  ---color-lime-600: #7EB40D;
  ---color-lime-700: #6FA104;
  ---color-lime-800: #618E00;
  ---color-lime-900: #507500;
  ---color-lime-1000: #3E5A00;
  ---color-lime-1100: #2C4100;
  ---color-lime-1200: #1E2D00;

  /* Yellow */
  --color-yellow-50: #FBF5E0;
  --color-yellow-100: #FFF0B3;
  --color-yellow-200: #FFE380;
  --color-yellow-300: #FFD43D;
  --color-yellow-400: #FFC700;
  --color-yellow-500: #EBB700;
  --color-yellow-600: #D2A400;
  --color-yellow-700: #B78F00;
  --color-yellow-800: #A58000;
  --color-yellow-900: #927200;
  --color-yellow-1000: #806300;
  --color-yellow-1100: #6E5600;
  --color-yellow-1200: #604B00;

}
