@use "@/assets/style/utils/utils.scss" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  &::after,
  &::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: var(--color-text-body);
  background-color: var(--color-background-primary);
  transition: color var(--base-duration) var(--easing-out-expo),
    background-color var(--base-duration) var(--easing-out-expo);
}

/* スクロールバーのガタツキ対策。#appなどのコンテンツ全体のラッパーに適用する。js側で動的にscrollbar-gutterプロパティを入れる */
.scrollbar-gutter {
  overflow: auto;
}

/* 見た目には不可視だが、スクリーンリーダーには読み上げられるようにするスタイル */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  border: 0;
}

/* テーブルの基本スタイル */
.tableWrapper {
  display: inline-block;
  max-width: 100%;
  overflow: auto;
}

table {
  font-size: 1rem;
  color: var(--color-text-body);
  table-layout: fixed;
  border-collapse: collapse;
}

th,
td {
  min-width: 190px;
  height: 80px;
  padding: 8px;
  text-align: left;
  border: 1px solid var(--color-border-divider);
}

th {
  font-weight: normal;
  background-color: var(--color-background-tertiary);
}

/* 基本のリンクスタイル */
a {
  color: var(--color-text-link);
  text-decoration: underline;

  &:focus-visible {
    border-radius: 4px;
    outline: 2px solid var(--color-border-focused);
  }
}

/* タイポグラフィ */
.headingXXL {
  font-size: pxToRem(57);
  font-weight: var(--weight-regular);
  line-height: 1.4;
  letter-spacing: 0.04em;
}

.headingXL {
  font-size: pxToRem(45);
  font-weight: var(--weight-regular);
  line-height: 1.4;
  letter-spacing: 0.04em;
}

.headingL {
  font-size: pxToRem(36);
  font-weight: var(--weight-regular);
  line-height: 1.4;
  letter-spacing: 0.04em;
  @include mediaQueryDown {
    font-size: pxToRem(32);
    font-weight: var(--weight-medium);
    line-height: 1.5;
  }
}

.headingM {
  font-size: pxToRem(32);
  font-weight: var(--weight-regular);
  line-height: 1.5;
  letter-spacing: 0.04em;
  @include mediaQueryDown {
    font-size: pxToRem(28);
    font-weight: var(--weight-medium);
    line-height: 1.5;
  }
}

.headingS {
  font-size: pxToRem(28);
  font-weight: var(--weight-regular);
  line-height: 1.5;
  letter-spacing: 0.04em;
  @include mediaQueryDown {
    font-size: pxToRem(24);
    font-weight: var(--weight-medium);
    line-height: 1.5;
  }
}

.headingXS {
  font-size: pxToRem(24);
  font-weight: var(--weight-regular);
  line-height: 1.5;
  letter-spacing: 0.04em;
  @include mediaQueryDown {
    font-size: pxToRem(20);
    font-weight: var(--weight-medium);
    line-height: 1.5;
  }
}

.headingXXS {
  font-size: pxToRem(20);
  font-weight: var(--weight-regular);
  line-height: 1.5;
  letter-spacing: 0.04em;
  @include mediaQueryDown {
    font-size: pxToRem(16);
    font-weight: var(--weight-medium);
    line-height: 1.7;
  }
}

.fontTextL {
  font-size: pxToRem(16);
  font-weight: var(--weight-regular);
  line-height: 1.7;
  letter-spacing: 0.04em;
}

.fontTextM {
  font-size: pxToRem(14);
  font-weight: var(--weight-regular);
  line-height: 1.7;
  letter-spacing: 0.04em;
}

.fontLabelL {
  font-size: pxToRem(14);
  font-weight: var(--weight-medium);
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.fontLabelM {
  font-size: pxToRem(12);
  font-weight: var(--weight-medium);
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.fontSupportL {
  font-size: pxToRem(12);
  font-weight: var(--weight-regular);
  line-height: 1.7;
  letter-spacing: 0.02em;
}

.fontSupportM {
  font-size: pxToRem(10);
  font-weight: var(--weight-regular);
  line-height: 1.7;
  letter-spacing: 0.02em;
}

.fontButton {
  font-size: pxToRem(16);
  font-weight: var(--weight-bold);
  line-height: 1.5;
  letter-spacing: 0.04em;
}
