* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  &::after,
  &::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}

html {
  font-family: "Noto Sans JP", sans-serif;
  color: var(--color-text-body);
  background-color: var(--color-background-primary);
}

/* 見た目には不可視だが、スクリーンリーダーには読み上げられるようにするスタイル */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  border: 0;
}
