* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  &::after,
  &::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}

html {
  font-family: "Noto Sans JP", sans-serif;
  color: var(--color-text-body);
  background-color: var(--color-background-primary);
}

/* 見た目には不可視だが、スクリーンリーダーには読み上げられるようにするスタイル */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  border: 0;
}

/* テーブルの基本スタイル */
.tableWrapper {
  display: inline-block;
  max-width: 100%;
  overflow: auto;
}

table {
  font-size: 1rem;
  color: var(--color-text-body);
  table-layout: fixed;
  border-collapse: collapse;
}

th,
td {
  min-width: 190px;
  height: 80px;
  padding: 8px;
  text-align: left;
  border: 1px solid var(--color-border-divider);
}

th {
  font-weight: normal;
  background-color: var(--color-background-tertiary);
}
