body {
  font-family: "Noto Sans JP", sans-serif;
  color: var(--color-text-body);
  background-color: var(--color-background-primary);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#storybook-docs .sbdocs-content .docs-story {
  background-color: var(--color-background-primary) !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  border: 0;
}

.mb {
  margin-bottom: 24px;
}

.story-book-preview-mb {
  margin-bottom: 16px;
}

.story-book-preview-mb-medium {
  margin-bottom: 32px;
}

.story-book-preview-mb-large {
  margin-bottom: 72px;
}

.story-book-preview-row-layout {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

// レイアウトストーリーのスタイル
.layoutBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 120px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: var(--color-background-secondary);
}

/* 基本のリンクスタイル */
a {
  color: var(--color-text-link);
  text-decoration: underline;
}

/* 見た目のないボタン */
.clearButton {
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
  img {
    display: block;
  }
}
