body {
  font-family: "Noto Sans JP", sans-serif;
  color: var(--color-text-body);
  background-color: var(--color-background-primary);
}

#storybook-docs .sbdocs-content .docs-story {
  background-color: var(--color-background-primary) !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  border: 0;
}
