/**
 * アニメーションの秒数、イージング関数の変数です
 */
:root {
  --base-duration: 0.5s;
  @media (prefers-reduced-motion) {
    --base-duration: 0s;
  }

  --easing-out-quat: cubic-bezier(0.25, 1, 0.5, 1);
  --easing-in-out-quat: cubic-bezier(0.76, 0, 0.24, 1);
  --easing-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
  --easing-in-expo: cubic-bezier(0.7, 0, 0.84, 0);
  --easing-in-out-expo: cubic-bezier(0.87, 0, 0.13, 1);
}
